<!DOCTYPE html>
<html>
    <head>
        <title>Adicionar Produto</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <h1>Adicionar Produto</h1>
        <form method="post" id="adicionar">
            NOME: <input type="text" name="nome" required>
            DESCRIÇÃO: <input type="text" name="descricao" required>
            QUANTIDADE: <input type="number" name="quantidade" required>
            PREÇO: <input type="number" name="preco" step="0.1" required>
            <button type="submit">SALVAR</button>
        </form>
        <a href="/">Voltar</a>
    </body>
</html>